body {
    background-color: #e8eaf6;
    font-family: 'Ubuntu', sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.header {
    text-transform: uppercase;
}

.collection {
    border-left: none;
    border-right: none;
}

.card .card-reveal .card-title {
    margin-bottom: 15px;
}

.card .card-reveal {
    padding: 20px;
    padding-bottom: 10px;
}

.large-text,
.large-text i {
    font-size: 18px;
    font-weight: bold;
}


.modal .modal-content {
    padding: 24px 40px;
}

.fa-utensils {
    padding-left: 15px;
}

.buttons {
    margin: 20px 0 0 0;
}

#addInput,
#addCookingInput {
    margin:0;
    padding-left: 3.3rem;
}

.array-heading {
    margin-top: 1rem;
}

.fa-cloud-meatball {
    font-size: 2rem;
}

#ingredient-icon,
#cooking-icon {
    position: relative;
}

.array-header {
    font-size: 17px;
}

.input-field .helper-text,
#image-input-div {
    padding-left: 3.3rem;
}

.add-icon {
    padding-left: 3.3rem;
    font-size: 2rem;
    color: green;
}

.add-icon:hover,
.add-icon:focus,
.add-icon:active {
    cursor: pointer;
    color: rgb(5, 95, 5);
}

.source-link-div {
    margin-top: 30px;
}

.source-link:hover,
.source-link:active,
.source-link:focus {
    font-weight: bold;
}

/* hv-grow-shadow transition is taken from https://github.com/IanLunn/Hover/blob/master/css/hover.css */

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.card.large .card-image+.card-content {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}


.category-header {
    font-weight: bold;
}

/***************************************************************************Media Queries*/

@media only screen and (min-width: 993px) {
.container {
    width: 85%;
}