{% extends 'base.html' %} {% block content %}

<h3 class="deep-purple-text text-darken-4 center-align">Add Recipe</h3>
<div class="row card-panel white lighten-5">
  <form
    class="col s12 validate-input"
    method="POST"
    action="{{ url_for('add_recipe') }}"
    enctype="multipart/form-data"
  >
    <!--Recipe Category-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix deep-purple-text"></i>
        <select
          id="recipe_category"
          name="recipe_category"
          class="validate"
          required
        >
          <option value="" disabled selected>Choose Category</option>
          {% for category in categories %}
          <option value="{{ category.category_name }}"
            >{{ category.category_name }}</option
          >
          {% endfor %}
        </select>
        <label for="recipe_category">Recipe Category</label>
      </div>
    </div>

    <!--Recipe Name-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-pencil-alt prefix deep-purple-text"></i>
        <input
          id="recipe_name"
          name="recipe_name"
          minlength="5"
          maxlength="70"
          type="text"
          class="validate"
          required
        />
        <label for="recipe_name">Recipe Name</label>
      </div>
    </div>

    <!--Diet Type-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix deep-purple-text"></i>
        <select multiple id="diet_type" name="diet_type" class="validate" required>
          <option value="" disabled>Choose Diet Type</option>
          {% for diet_type in diet_types %}
          <option value="{{ diet_type.diet_name|capitalize }}"
            >{{ diet_type.diet_name|capitalize }}</option
          >
          {% endfor %}
        </select>
        <label for="diet_type">Diet Type</label>
      </div>
    </div>

    <!--Ingredients Array -->
    <div class="row">
      <div class="input-field col s12 array-heading">
        <h6 class="array-header">
          <i
            class="fas fa-list-ol prefix deep-purple-text"
            id="ingredient-icon"
          ></i>
          Ingredients
        </h6>
        <span class="helper-text" data-error="wrong" data-success="left"
          >Please add one ingredient on each line:</span
        >
      </div>
      <div id="addInput" class="input-field col s12">
        <div class="input-field">
          <label for="ingredient">Ingedient 1</label>
          <input id="ingredient"class="validate" name="ingredient" type="text" required />
        </div>
        <div class="input-field">
          <label for="ingredient">Ingedient 2</label>
          <input id="ingredient" name="ingredient" type="text" />
        </div>
        <div class="input-field">
          <label for="ingredient">Ingedient 3</label>
          <input id="ingredient" name="ingredient" type="text" />
        </div>
      </div>
      <a type="button" onClick="addInput('addInput');"
        ><i class="fas fa-plus-circle add-icon"></i
      ></a>
    </div>

    <!--Cooking directions Array -->

    <div class="row">
      <div class="input-field col s12 array-heading">
        <h6 class="array-header">
          <i
            class="fas fa-cloud-meatball prefix deep-purple-text"
            id="cooking-icon"
          ></i>
          Cooking Instructions
        </h6>
        <span class="helper-text" data-error="wrong" data-success="left"
          >Please add one paragraph on each line:</span
        >
      </div>
      <div id="addCookingInput" class="input-field col s12">
        <div class="input-field">
          <label for="cooking_directions">Step 1</label>
          <input
          class="validate"
            id="cooking_directions"
            name="cooking_directions"
            type="text"
            required
          />
        </div>
        <div class="input-field">
          <label for="cooking_directions">Step 2</label>
          <input
            id="cooking_directions"
            name="cooking_directions"
            type="text"
          />
        </div>
        <div class="input-field">
          <label for="cooking_directions">Step 3</label>
          <input
            id="cooking_directions"
            name="cooking_directions"
            type="text"
          />
        </div>
      </div>
      <a type="button" onClick="addCookingInput('addCookingInput');"
        ><i class="fas fa-plus-circle add-icon"></i
      ></a>
    </div>

    <!--Image-->
    <div class="row">
      <div class="input-field col s12" id="image-input-div">
        <div><label for="image" class="array-header">Picture</label></div>
            <input
              type="file"
              name="image"
              id="image"
              accept=".jpg, .jpeg, .png"
              required
            />
          
      </div>
    </div>

    <!--Link to the original recipe-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-pencil-alt prefix deep-purple-text"></i>
        <input
          id="link"
          name="link"
          minlength="5"
          type="url"
          class="validate"
        />
        <label for="link">Source Link (Optional)</label>
      </div>
    </div>

    <!--submit button-->
    <div class="row">
      <div class="col s12 center-align">
        <button type="submit" class="btn-large green darken-3 hvr-grow-shadow">
          Add Recipe<i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
